*
!*/

!.gitignore
!.gitmodules
!main.kk
!index.html
!style.css
!CNAME
!LICENSE

!.githooks
.githooks/*
!.githooks/pre-commit

!static
static/*
!static/favicon.ico
!static/favicon.svg
!static/favicon-96x96.png
!static/apple-touch-icon.png
!static/web-app-manifest-192x192.png
!static/web-app-manifest-512x512.png
